/.idea/
/node_modules
/public/hot
/public/css
/public/js
/public/storage
/public/mix-manifest.json
/storage/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package.json
package-lock.json
