body {
    background: url(/img/background/background.png) 0% -5% no-repeat scroll;
}

#divWithInputSearchInHeader {
    position: relative;
    top: 8px;
    border-radius: 3px;
    padding-left: 5px;
}
//MENU
.item-menu-non-root {
    color: #092d40 !important;
    font-family: roboto regular SansSerif, serif;
}

.header-grey {
    color: gray;
}

.logo-container-in-header {
    max-width: 100px;
    width: 100%;
}

.root-menu-container {
    display: none;
    position: absolute;
    top:8%;
    left: 3%;
    border-radius: 3px;
    z-index: 998;
    background-color: #e6e6e6;
    width: 100%;
}

#divForSliderOnMainPage {
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.popup-root-categories-item {
    padding: 5px;
    margin: 5px;
    width: 100%;
    color:black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: roboto regular SansSerif, serif;
}

.popup-root-categories-item:hover {
    text-decoration: none;
    background-color: #939598;
}

#divForSubcribingOnMainPage {
    max-width: 900px;
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -125px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.vertical-align-middle {
    margin-bottom: auto;
    margin-top: auto;
}

#main-footer-content {
    position: relative;
    top: -75px;
}

.divBestSellerContainer {
    max-width: 80%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer-copyright {
    background-color: rgba(10, 150, 10, 0.3);
    font-family: roboto regular SansSerif, serif;
    font-size: 0.75em;
}

.gray-section {
    background-color: #f2f2f2;
}

.half-down {
    position: relative;
    top:80px
}

.footer-div {
    background: url("/img/background/background.png") no-repeat scroll;
    background-size: cover;
    font-family: roboto regular SansSerif, serif;
}

.footer-subscribe-image {
    background: url("/img/serviceimages/subscribe.jpeg") no-repeat scroll;
    background-size: 100% 100%;
    width: 85%;
    height: 85%;
}

.place-holder {
    height: 100px;
}

.mini-banner-div {
    border-radius: 9px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 30px;
}

.first-paragraph {
    font-size: 1.5em;
}

.second-paragraph {
    font-size: 1.5em;
}

.img-in-banner-bottom {
    position: relative;
    top: -15px;
}

.main-menu-div {
    border-top: 1px solid #092d40;
    background-color: rgba(255, 255, 255, 0.2);
}

.item-root {
    border: 1px solid #1d68a7;
    border-radius: 2px;
    background-color: #1872a2;
    font-family: roboto regular SansSerif, serif;
    font-weight: bold;
}

.item-root:hover {
    border: 1px solid #1d68a7;
    border-radius: 2px;
    background-color: #1872a2;
    font-family: roboto regular SansSerif, serif;
    font-weight: bold;
}

#shadow {
    width: 110%;
    height: 110%;
    background-color: black;
    z-index: 100;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#shadowGlobal {
    width: 110%;
    height: 110%;
    background-color: black;
    z-index: 100;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}

#shadowPhones {
    width: 100%;
    height: 100%
}

#modalWithImages {
    position: absolute;
    max-width: 600px;
    width: 100%;
    max-height: 90vh;
    z-index: 101;
    top: 50%;
    left: 50%;
    background: transparent;
    padding: 2px 10px;
    display: none;
    transform: translate(-50%, -50%);
}

.image-container-modal {
    margin-left: auto;
    margin-right: auto;
}

#modalFormAddPhone {
    position: absolute;
    max-width: 600px;
    width: 100%;
    max-height: 90vh;
    z-index: 101;
    top: 50%;
    left: 50%;
    background: transparent;
    padding: 2px 10px;
    display: none;
    transform: translate(-50%, -50%);
}

.modal-control-elements {
    font-weight: bold;
    font-size: 2em;
}

.modal-control-elements:hover {
    cursor: pointer;
    color: white;
}

.btn-close-modal {
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    color: gray;
}

#close-popup-symbol {
    color: lightgray;
}

#close-popup-symbol:hover {
    color: white;
}

.step-back {
    position: absolute;
    top: 50%;
    left: 0;
}

.step-forward {
    position: absolute;
    top: 50%;
    right: 10%;
}

.admin-menu {
    background-color: #1b1e21;
}

.dashboard-menu {
    color: gray;
    width: 100%;
}

.accordion-header {
    color: #1d68a7;
    cursor: pointer;
    width: 100%;
}

.accordion-header:hover {
    color: #939598;
}

.accordion-content {
    a {
        text-decoration: none;
        color: gray;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        font-family: roboto regular SansSerif, serif;
        font-weight: bold;
    }

    a:hover {
        text-decoration: none;
        font-weight: bold;
        color: #126DD2;
        font-family: roboto regular SansSerif, serif;
    }
}

.border-bottom {
    border-bottom: 1px solid gray;
}

.addButton {
    background-color: #1872a2;
    border-color: #092d40;
    color: #fff;
    font-size: large;
    font-weight: bold;
    float: right;
    display: inline-block;
    vertical-align: middle;
    height: 2em;
    width: 2em;
    cursor: pointer;
    padding-top: 0.15em;
    border-radius: 5px;
}

.addButton:hover {
    background-color: #135bb5;
}

.oneHeight {
    line-height: 2em;
    margin-bottom: 0 !important;
}

.background-as-nav {
    background-color: #f8f9fa !important;
}

.class-cursor-pointer {
    cursor: pointer;
}

.div-item-main-container {
    height: 300px;
    background-color: white;
    position:relative;
    z-index: 1;

    a {
        display:block;
        position:absolute;
    }
}

.div-item-main-container:hover {
    z-index: 2;

    a {
        z-index: 2;
        box-shadow: 0px 5px 16px 3px rgba(0,0,0,0.2), 0px -5px 16px 3px rgba(0,0,0,0.2);
    }
}

.hide {
    display: none;
    z-index: 100;
    background-color: white;
    position: relative;
    padding: 0 5px;
    border-radius: 5px;
    height: 50%;
    margin: 0;
    box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}

#divButtonCardShower {
    background-color: #126DD2;
    border-radius: 5px 5px 5px 5px;
}

#btnButtonCardShower {
    border-radius: 5px 0 0 5px;
}

.div-button-card-shower-right {
    background-color: #126DD2;
    border-radius: 0 5px 5px 0;
    width: 23px;
    padding-left: 5px;
    position: relative;
    z-index: 100;
}

.color-for-search-in-header {
    background-color: rgba(250, 252, 255, 0.3) !important;
}

.class-color-transparent {
    background-color: transparent;
}

.border-bottom-green-2px {
    border-bottom: 2px solid green;
}

.all-category-item {
    a {
        text-decoration: none;
        color: #939598;
        font-family: roboto regular SansSerif, serif;
    }

    a:hover {
        color: #135bb5;
        text-decoration: none;
        font-family: roboto regular SansSerif, serif;
    }
}

.category-chosen a {
    color: #135bb5;
    font-weight: bold;
}

.roboto-font-family {
    font-family: roboto regular SansSerif, serif;
}

.breadcrumb-decoration {
    a {
        text-decoration: none;
        color: #939598;
        font-family: roboto regular SansSerif, serif;
    }

    a:hover {
        text-decoration: none;
        color: #636b6f;
    }
}

.gray-category-name-breadcrumb {
    color: #939598;
}

.class-text-center {
    margin-left: auto;
    margin-right: auto;
}

.product-item-description {
    height: 110px;
    overflow-y: auto;
}

.product-container {
    position: relative;
}

.div-product-logo-image-container {
    height: 180px;
}

.div-product-logo-image-container-intro {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.url-no-decoration {
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-family: roboto regular SansSerif, serif;
}

.url-no-decoration:hover {
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-family: roboto regular SansSerif, serif;
}

.checkbox-budget:hover {
    background-color: coral;
}

.for-checkbox-budget {
    background-color: #939598;
}

.dropdown-el:hover {
    .dropdown-content {
        display: block;
    }
}

.dropdown-el {
    position: relative;
    display: inline-block;
    /*&:hover .dropdown-content {
        display: block;
    }*/

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #04530A;
        box-shadow: 0px 8px 16px 3px rgba(0,0,0,0.2);
        padding: 3px 6px;
        z-index: 1;
        border-radius: 5px;
    }

    .comp-dropdown-item {
        display: block;
        border-radius: 5px;

    }

    .comp-dropdown-item:hover {
        background-color: darkslategray;
        border-radius: 5px;
        font-weight: bold !important;
    }

    .dropdown-header {
        font-weight: bold !important;
        margin: 0;
        padding: 3px;
        color: #1b1e21;
    }
}

#divWithInputSearchInHeader {
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
    }

    ::-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
    }
}

.table-for-users-list {
    .td-short-description {
        max-width: 200px;
        max-height: 50px;
        overflow: hidden;
    }
}

.clearfix:after {
    clear: both;
}

.to-top-button {
    position: fixed;
    bottom: 10%;
    right: 5%;
    font-size: 5em;
    opacity: 0.5;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 1px;
    display: none;
    color:gray;
    display: none;
}

.to-top-button:hover {
    color: darkcyan;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%;
    height:100%;
    position:relative;
    margin:0px;
    padding:0px;

    .item {
        display:inline-block;
        width:100%;
        height:250px;
        position:relative;
        margin:0px;
        padding:0px;
        z-index:1;

        .sub-container {
            display:block;
            width:100%;
            height:auto;
            padding:10px;
            position:absolute;
            background-color:white;

            .image {
                display:block;
                height:150px;
                position:relative;
                background-position:center center;
                background-repeat:no-repeat;
                background-size:contain;
                background-color:black;
            }

            h1 {
                display:block;
                height:auto;
                margin:10px 0px;
                font-family:arial;
                font-size:20px;
                font-weight:bold;
            }

            h2 {
                display:block;
                height:auto;
                margin:10px 0px;
                font-size: 1em;
                font-family:arial;
                font-weight:normal;
            }

            .informations {
                display:none;

                p {
                    display:block;
                    height:auto;
                    margin:5px 0px;
                    font-family:arial;
                    font-size: 0.8em;
                    color:grey;
                    font-weight:normal;
                }
            }


        }
    }
    .item:hover {
        z-index:20;

        .sub-container {
            box-shadow:0px 0px 5px rgba(0,0,0,0.5);
            -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
            -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
            -o-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
            -ms-box-shadow:0px 0px 5px rgba(0,0,0,0.5);

            .informations {
                display:block;
            }
        }
    }
}

.message-added-popup {
    color: red !important;
    font-weight: bold !important;
    border-radius: 5px;
    border: 2px solid #ffed4a;
    background-color: #ffed4a;
    position: absolute;
}

.shopping-cart-main {
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 1200px;
    width: 100%;

    .show-input-btn {
        font-weight: bold;
        cursor: pointer;
    }

    .image-in-cart {
        max-width: 100px;
        width: 100%;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .product-description {
        max-height: 200px;
        overflow: hidden;
    }

    .promocode-usage {
        display: none;
    }
    
    .cursor-pointer {
        cursor: pointer;
    }

    .table-container {
        min-width: 560px;
    }

    .input-product-quantity-cart {
        width: 50px;
    }

    .promo-input-name {
        width: 60% !important;
    }

    .promo-button-use {
        margin-left: 2px;
        width: 38%;
    }

    .cart-image {
        height:100px;
    }



    .parent-for-scroll {
        position: relative;
    }

    .scroll-product-control {
        position:absolute;
        z-index:100;
        font-size: 2em;
        cursor: pointer;
    }

    .scroll-product-control:hover {
        color:blue;
    }

    .scroll-left-btn {
        top: 50%;
        left: 1%;
    }

    .scroll-right-btn {
        top: 50%;
        right: 1%;
    }
}

.product-show-container {

    .div-icons-container {
        overflow: auto;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .scroll-control {
        display: none;
    }

    .arrows-scroll-class {
        font-size:2em;
    }

    .arrows-scroll-class:hover {
        color:grey;
    }

    .product-right-banner {
        box-shadow: 0px 5px 16px 3px rgba(0,0,0,0.2), 0px -5px 16px 3px rgba(0,0,0,0.2);
    }

    .product-main-description {
        box-shadow: 0px 5px 16px 3px rgba(0,0,0,0.2), 0px -5px 16px 3px rgba(0,0,0,0.2);
    }
}

.div-products-category-container {/*DONT MOVE INSIDE!*/
    overflow: hidden;
}


.cart-image-additional {
    height:150px;
    text-align: center;
    position: relative;
    white-space: nowrap;
    margin: 1em 0;

    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        color: transparent;
        background-color: transparent;
        opacity: 0;
    }

    .helper:hover {
        color: transparent;
        background-color: transparent;
        opacity: 0;
    }

    .additional-image-in-cart {
        max-height: 100px;
        max-width: 100%;
    }
}

.shopping-cart-checkout {

    .number-in-checkout {
        color: #cb521c;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-style: italic;
    }

    .btn-special-color {
        background-color: #cb521c;
    }

    .border-right-dashed {
        border-right: 1px dashed black;
    }

    input
    {
        font-size:0.7em;
    }

    .font-size-mini {
        font-size: 0.7em;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    [class*="pay-method-details-"] {
        display: none;
    }
}

.div-data-user-info {

    .tabs {

        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .tabs>input[type="radio"] {
        display: none;
    }

    .tabs>div {
        /* скрыть контент по умолчанию */
        display: none;
        font-size: 16px;
    }

    /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
    #tab-btn-1:checked~#content-2,
    #tab-btn-2:checked~#content-1 {
        display: block;
    }

    .tabs>label {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        padding: 2px 8px;
        font-size: 1em;
        line-height: 1.5;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
        cursor: pointer;
        position: relative;
        top: 1px;
    }

    .tabs>label:not(:first-of-type) {
        border-left: none;
    }

    .tabs>input[type="radio"]:checked+label {
        background-color: #fff;
        border-bottom: 1px solid #fff;
    }
}