body {
    background: url(/img/background/background.png) 0% -5% no-repeat scroll;
}

#divWithInputSearchInHeader {
    position: relative;
    top: 8px;
    border-radius: 3px;
    padding-left: 5px;
}
//MENU
.item-menu-non-root {
    color: #092d40 !important;
    font-family: roboto regular SansSerif, serif;
}

.header-grey {
    color: gray;
}

.logo-container-in-header {
    max-width: 100px;
    width: 100%;
}

.root-menu-container {
    display: none;
    position: absolute;
    top:8%;
    left: 3%;
    border-radius: 3px;
    z-index: 998;
    background-color: #e6e6e6;
    width: 100%;
}

#divForSliderOnMainPage {
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.popup-root-categories-item {
    padding: 5px;
    margin: 5px;
    width: 100%;
    color:black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: roboto regular SansSerif, serif;
}

.popup-root-categories-item:hover {
    text-decoration: none;
    background-color: #939598;
}

#divForSubcribingOnMainPage {
    max-width: 900px;
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -125px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.my-vertical-align-middle {
    margin-bottom: auto;
    margin-top: auto;
}

#main-footer-content {
    position: relative;
    top: -75px;
}

.divBestSellerContainer {
    max-width: 80%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer-copyright {
    //background-color: darkslategrey;
    background-color: rgba(10, 150, 10, 0.3);
    font-family: roboto regular SansSerif, serif;
    font-size: 0.75em;
}

.gray-section {
    background-color: #f2f2f2;
}

.half-down {
    position: relative;
    top:80px
}

.footer_div {
    background: url("/img/background/background.png") no-repeat scroll;
    background-size: cover;
    font-family: roboto regular SansSerif, serif;
}

.footer-subscribe-image {
    background: url("/img/serviceimages/subscribe.jpeg") no-repeat scroll;
    background-size: 100% 100%;
    width: 85%;
    height: 85%;
}

.place-holder {
    height: 100px;
}

.mini-banner-div {
    border-radius: 9px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 30px;
}

.first-paragraph {
    font-size: 1.5em;
}

.second-paragraph {
    font-size: 1.5em;
}

.img-in-banner-bottom {
    position: relative;
    top: -15px;
}

.main-menu-div {
    border-top: 1px solid #092d40;
    background-color: rgba(255, 255, 255, 0.2);
}

.item-root {
    border: 1px solid #1d68a7;
    border-radius: 2px;
    background-color: #1872a2;
    font-family: roboto regular SansSerif, serif;
    font-weight: bold;
}

.item-root:hover {
    border: 1px solid #1d68a7;
    border-radius: 2px;
    background-color: #1872a2;
    font-family: roboto regular SansSerif, serif;
    font-weight: bold;
}

#shadow,
#shadowEdit,
#shadowPhones {
    width: 110%;
    height: 110%;
    background-color: black;
    z-index: 100;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#shadowPhones {
    width: 100%;
    height: 100%
}

#modal-with-images, #modalFormAddPhone {
    position: absolute;
    max-width: 600px;
    width: 100%;
    max-height: 90vh;
    z-index: 101;
    top: 50%;
    left: 50%;
    background: transparent;
    padding: 2px 10px;
    display: none;
    transform: translate(-50%, -50%);
}

.modal-control-elements {
    font-weight: bold;
    font-size: 2em;
}

.modal-control-elements:hover {
    cursor: pointer;
    color: white;
}

.btn-close-modal {
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    color: gray;
}

#close-popup-symbol {
    color: lightgray;
}

#close-popup-symbol:hover {
    color: white;
}

.step-back {
    position: absolute;
    top: 50%;
    left: 0;
}

.step-forward {
    position: absolute;
    top: 50%;
    right: 10%;
}

span[class^=step],
span[class*=" step"] {
    font-size: 5em;
    z-index: 105;
}

.admin-menu {
    background-color: #1b1e21;
}

.dashboard-menu {
    color: gray;
    width: 100%;
}

.accordion_header {
    color: #1d68a7;
    cursor: pointer;
    width: 100%;
}

.accordion_header:hover {
    color: #939598;
}

.accordion_content a {
    text-decoration: none;
    color: gray;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-family: roboto regular SansSerif, serif;
    font-weight: bold;
}

.accordion_content a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #126DD2;
    font-family: roboto regular SansSerif, serif;
}

.border_bottom {
    border-bottom: 1px solid gray;
}

.addButton {
    background-color: #1872a2;
    border-color: #092d40;
    color: #fff;
    font-size: large;
    font-weight: bold;
    float: right;
    display: inline-block;
    vertical-align: middle;
    height: 2em;
    width: 2em;
    cursor: pointer;
    padding-top: 0.15em;
    border-radius: 5px;
}

.addButton:hover {
    background-color: #135bb5;
}

.oneHeight {
    line-height: 2em;
    margin-bottom: 0 !important;
}

.background_as_nav {
    background-color: #f8f9fa !important;
}

.my-cursor-pointer {
    cursor: pointer;
}

.modalWindowToManageProductImages {
    position: absolute;
    max-width: 900px;
    width: 100%;
    max-height: 90vh;
    z-index: 101;
    top: 50%;
    left: 50%;
    background: lightgray;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px 10px;
    display: none;
    transform: translate(-50%, -50%);
}

.div-item-main-container {
    height: 300px;
    background-color: white;
}

.hide{
    display: none;
    z-index: 100;
    background-color: white;
    position: relative;
}

.outer {
    margin-top: 1px;
    overflow: hidden;
}

#divButtonCardShower {
    background-color: #126DD2;
    border-radius: 5px 5px 5px 5px;
}

#btnButtonCardShower {
    border-radius: 5px 0 0 5px;
}

.div-button-card-shower-right {
    background-color: #126DD2;
    border-radius: 0 5px 5px 0;
    width: 23px;
    padding-left: 5px;
    position: relative;
    z-index: 100;
}

.my-color-for-search-in-header {
    background-color: rgba(250, 252, 255, 0.3) !important;
    //background-color: transparent;
}

.my-class-color-transparent {
    background-color: transparent;
}

.border-bottom-green-2px {
    border-bottom: 2px solid green;
}

.all-category-item a {
    text-decoration: none;
    color: #939598;
    font-family: roboto regular SansSerif, serif;
}

.all-category-item a:hover {
    color: #135bb5;
    text-decoration: none;
    font-family: roboto regular SansSerif, serif;
}

.category-chosen a {
    color: #135bb5;
    font-weight: bold;
}

.my-roboto-font-family {
    font-family: roboto regular SansSerif, serif;
}

.my-breadcrumb-decoration a {
    text-decoration: none;
    color: #939598;
    font-family: roboto regular SansSerif, serif;
}

.my-breadcrumb-decoration a:hover {
    text-decoration: none;
    color: #636b6f;
}

.gray-category-name-breadcrumb {
    color: #939598;
}

.my-class-text-center {
    margin-left: auto;
    margin-right: auto;
}

.product-item-description {
    height: 110px;
    overflow-y: auto;
}

.div-product-logo-image-container {
    height: 180px;
}

.div-product-logo-image-container-intro {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.url_no_decoration {
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-family: roboto regular SansSerif, serif;
}

.url_no_decoration:hover {
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    font-family: roboto regular SansSerif, serif;
}

.checkbox-budget {

}

.checkbox-budget:hover .for-checkbox-budget {
    background-color: coral;
}

.for-checkbox-budget {
    background-color: #939598;
}

.dropdown-el {
    position: relative;
    display: inline-block;

    &:hover .dropdown-content {
        display: block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #04530A;
        box-shadow: 0px 8px 16px 3px rgba(0,0,0,0.2);
        padding: 3px 6px;
        z-index: 1;
        border-radius: 5px;
    }

    .my-dropdown-item {
        display: block;
        border-radius: 5px;

    }

    .my-dropdown-item:hover {
        background-color: darkslategray;
        border-radius: 5px;
        font-weight: bold !important;
    }

    .dropdown-header {
        font-weight: bold !important;
        margin: 0;
        padding: 3px;
        color: #1b1e21;
    }
}

#divWithInputSearchInHeader {
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
    }

    ::-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
    }
}

.my-product-right-banner, .my-product-main-description {
    box-shadow: 0px 5px 16px 3px rgba(0,0,0,0.2), 0px -5px 16px 3px rgba(0,0,0,0.2);
}


.clearfix:after {
    clear: both;
}
